{% load static %}
<h2 class="blog-post-title">Code</h2>

<div class="col-md-8">
  <p>Spot-On is a free/open-source software, feel free to contribute by reporting bugs, helping us to write the documentation or proposing new features. The code of Spot-On is available on the software forge <a href="http://gitlab.com">GitLab</a>, in the <a href="https://gitlab.com/tjian-darzacq-lab/Spot-On">Spot-On repository</a>. A <a href="https://gitlab.com/tjian-darzacq-lab/Spot-On/issues">bugtracker</a> is also available for bug reports and feature requests.</p>
</div>

<div class="col-md-4">
  <img src="/static/SPTGUI/img/gitlab.png"
       class="img-responsive center-block"
       style="max-width: 80%;"
       alt="Gitlab logo">
</div>
<p> Spot-On is divided in several packages:</p>

<ul>
  <li>The <a href="https://gitlab.com/tjian-darzacq-lab/Spot-On">web-interface</a></li>
  <li>The <a href="https://gitlab.com/tjian-darzacq-lab/Spot-On-cli">command-line backend</a>, that can be used standalone and offline</li>
  <li>A <a href="https://gitlab.com/anders.sejr.hansen/spot-on-matlab">Matlab© backend</a></li>
</ul>

  
<p> The web-interface is released under the <a href="{% url 'SPTGUI:staticpage' 'license' %}">AGPL license</a>. The backend is released under the <a href="https://www.gnu.org/licenses/gpl.html">GNU GPL version 3+</a></p>
