	  {% verbatim %}
	  <div ng-controller="UploadController"
	       flow-init="{target: './upload/'}"
	       flow-files-submitted="$flow.upload()"
	       flow-upload-started="uploadStart($flow);"
	       flow-file-success="$file.msg = $message">
	    
	    <div class="alert alert-danger" ng-hide="establishedConnexion">
	      Cannot talk with the server or loading files...
	    </div>
	    <div ng-hide="!establishedConnexion">
	      <div class="row">
		<h2>Upload datasets</h2>
		<div class="col-md-4">
		  <h3>1. Select format</h3>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      Input format
		    </div>
		    <div class="panel-body">
		      <form>
			<div ng-repeat="format in acceptedFormats">
			  <label>
			    <input type="radio"
				   ng-model="uploadFormat.format"
				   ng-click="setFormat(format)"
				   value="{{format[1].name}}"
				   ng-disabled="!format[1].active">
			    {{format[1].name}}
			    <span class="glyphicon glyphicon-info-sign"
				  uib-tooltip="{{format[1].info}}"></span>
			  </label>
			  (<a href="../#{{format[1].anchor}}">learn more</a>)
			</div>
		      </form>
		    </div>
		  </div>
		</div>
		<div class="col-md-4" ng-hide="uploadFormat.format===null">
		  <h3>2. Parameters</h3>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      Input additional parameters
		    </div>
		    <div class="panel-body">
		      <p ng-show="uploadFormat.params[1].params.length==0">
			No additional parameters are required for this file format
		      </p>
		      <table>
			  <tr ng-repeat="par in uploadFormat.params[1].params">
			    <td><label>{{par.name}}</label></td>
			    <td>
			      <input type="{{par.type}}"  ng-model="uploadFormat.currentParams[par.model]"
			       value="{{par.value}}"> 
			      <span ng-show="par.info!=''"
				    class="glyphicon glyphicon-info-sign"
				    uib-tooltip="{{par.info}}"></span>
			    </td>
		      </table>

		      <div ng-hide="showUploadZone()">
			<br/>
			<div class="alert alert-info">
			  Fill in all parameters to display the upload box (make this an info box).
			</div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="col-md-4" ng-show="showUploadZone()">
		  <h3>3. Select datasets</h3>
		  <!-- Drag'n'drop box -->
		  <div class="filedrag"
		       flow-drag-enter="style={border:'4px solid #555'}"
		       flow-drag-leave="style={}"
		       ng-style="style"
		       flow-drop>
		    <span class="glyphicon glyphicon-upload"></span><br/>
		    Drag And Drop your file here
		  </div>
		  <input type="file" flow-btn/>
		</div>
	      </div>
	      <div>
		<h2>Uploaded datasets</h2>

		<div class="alert alert-warning" ng-hide="datasetsReady">
		  Loading datasets...
		</div>
		<div ng-hide="!datasetsReady">
		  <div class="alert alert-warning" ng-if="successfullyUploaded==0">
		    No dataset has been uploaded yet.
		  </div>
		
		  <div ng-if="successfullyUploaded>0">
		    <ul>
		      <li>Number of uploaded files: {{successfullyUploaded}}/{{successfullyUploaded+$flow.files.length}}</li>
		    </ul>
		    
		    <table class="table">
		      <tr>
			<th class="col-md-2">id</th>
			<th class="col-md-5">File name</th>
			<th class="col-md-5">Description</th>
			<th class="col-md-2">Status</th>
			<th class="col-md-5">Options</th>
		      </tr>
		    
		      <tr ng-repeat="file in $flow.files">
			<td class="col-md-2">{{$index+1}}</td>
			<td class="col-md-5">{{file.name}}</td>
			<td class="col-md-5"> </td>	
			<td class="col-md-2">Uploading</td>
			<td class="col-md-1"> </td>		  
		      </tr>
		      
		      <tr ng-repeat="data in datasets"
			  ng-class="{active: data.id == shownStatistics.id}">
			<td class="col-md-2">{{$flow.files.length+$index+1}}</td>
			<td class="col-md-5">{{data.name}}
			  (<a href="datasets/{{data.id}}/original/"
			      uib-tooltip="View the uploaded file">uploaded</a>,
			  <a href="datasets/{{data.id}}/parsed/"
			     uib-tooltip="View the file as interpreted by our system, in a standardized format">parsed</a>,
			  <a href="datasets/{{data.id}}/report/"
			     uib-tooltip="View the importation report">importation report</a>).
			</td>
			<td class="col-md-5">{{data.description}}</td>
			<td class="col-md-2">{{data.preanalysis_status}}</td>
			<td class="col-md-1">
			  <span ng-click="showDataset(data);" class="glyphicon glyphicon-eye-open clickable"></span>
			  <span ng-click="editDataset(data);" class="glyphicon glyphicon-pencil clickable"></span>
			  <span ng-click="deleteDataset(data, $index);" class="glyphicon glyphicon-remove clickable"></span>
			</td>		  
		      </tr>
		    </table>	      
		  </div>
		</div>
		<div ng-if="editingDataset">
		  <h3>Editing dataset: {{editedDataset.name}}</h3>
		  <form ng-submit="saveEdit(editedDataset)">
		    <table>
		      <tr>
			<td> Name: </td>
			<td><input type="text" ng-model="editedDataset.name"></td>
		      </tr>
		      <tr>
			<td> Description: </td>
			<td><textarea ng-model="editedDataset.description"></textarea></td>
		      </tr>
		      <tr>
			<td>&nbsp;</td>
			<td>
			  <button class="btn btn-default" ng-click="cancelEdit(editedDataset)">Cancel</button>
			  <button type="submit" class="btn btn-default">Submit</button>
			</td>
		      </tr>
		    </table>
		  </form>
		</div>
		
		<div>
		  <div class="col-md-6">
		    <h2> Information about a dataset </h2>
		    <div ng-if="showingStatistics">
		      <h3>Selected dataset: {{shownStatistics.name}}</h3>

		      <table class="table table-responsive">
			<tr>
			  <td>Number of traces</td>
			  <td>{{shownStatistics.pre_ntraces}}</td>
			</tr>		    <tr>
			  <td>Number of frames</td>
			  <td>{{shownStatistics.pre_nframes}}</td>
			</tr>
			<tr>
			  <td>Number of detections</td>
			  <td>{{shownStatistics.pre_npoints}}</td>
			</tr>
			<tr>
			  <td>Number of traces with >=3 detections</td>
			  <td>{{shownStatistics.pre_ntraces3}}</td>
			</tr>
			<tr>
			  <td>Number of jumps</td>
			  <td>{{shownStatistics.pre_njumps}}</td>
			</tr>
			<tr>
			  <td>Length of trajectories (in number of frames)</td>
			  <td>median: {{shownStatistics.pre_median_length_of_trajectories}}, mean: {{shownStatistics.pre_mean_length_of_trajectories | number}}</td>
			</tr>
			<tr>
			  <td>Particles per frame</td>
			  <td>median: {{shownStatistics.pre_median_particles_per_frame}}, mean: {{shownStatistics.pre_mean_particles_per_frame | number}}</td>
			</tr>
			<tr>
			  <td>Jump length (&micro;m)</td>
			  <td>median: {{shownStatistics.pre_median_jump_length | number}}, Mean: {{shownStatistics.pre_mean_jump_length | number}}</td>
			</tr>
		      </table>
		    </div>
		    
		    <div ng-if="!showingStatistics"
			 class="alert alert-warning" role="alert">
		      Click on the <span class="glyphicon glyphicon-eye-open"></span> label to display information and statistics about the dataset.
		    </div>
		  </div>

		  <div class="col-md-6">
		    <h2> Global statistics </h2>
		    <div ng-if="statistics.status=='ok';">
		      <table class="table table-responsive">
			<tr>
			  <td>Number of traces</td>
			  <td>{{statistics.pre_ntraces}}</td>
			</tr>		    <tr>
			  <td>Number of frames</td>
			  <td>{{statistics.pre_nframes}}</td>
			</tr>
			<tr>
			  <td>Number of detections</td>
			  <td>{{statistics.pre_npoints}}</td>
			</tr>
			<tr>
			  <td>Number of traces with >=3 detections</td>
			  <td>{{statistics.pre_ntraces3}}</td>
			</tr>
			<tr>
			  <td>Number of jumps</td>
			  <td>{{statistics.pre_njumps}}</td>
			</tr>
			<tr>
			  <td>Length of trajectories (in number of frames)</td>
			  <td>median: {{statistics.pre_median_length_of_trajectories | number}}, mean: {{statistics.pre_mean_length_of_trajectories | number}}</td>
			</tr>
			<tr>
			  <td>Particles per frame</td>
			  <td>median: {{statistics.pre_median_particles_per_frame}}, mean: {{statistics.pre_mean_particles_per_frame | number}}</td>
			</tr>
			<tr>
			  <td>Jump length (&micro;m)</td>
			  <td>median: {{statistics.pre_median_jump_length | number}}, Mean: {{statistics.pre_mean_jump_length | number}}</td>
			</tr>
		      </table>		  
		    </div>
		  </div>		  
		</div>
	      </div>
	    </div><!-- End of the UploadController controller -->
	  </div>
{% endverbatim %}
