{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Analysis page</title>
    
    <!-- Bootstrap core CSS and JS -->
    <link href="{% static 'SPTGUI/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'SPTGUI/dist/js/jquery.min.js' %}"></script>
    <script src="{% static 'SPTGUI/dist/js/bootstrap.min.js' %}"></script>

    <!-- Lodash library -->
    <script src="{% static 'SPTGUI/dist/js/lodash.min.js' %}"></script>
    
    <!-- Angular JS -->
    <script src="{% static 'SPTGUI/dist/js/angular.min.js' %}"></script>
    <script src="{% static 'SPTGUI/dist/js/angular-cookies.js' %}"></script>
    
    <!-- concatenated flow.js + ng-flow libraries -->
    <script src="{% static 'SPTGUI/dist/js/ng-flow-standalone.min.js' %}"></script>
        
    <script src="{% static 'SPTGUI/analysis.js' %}"></script>

    <!-- D3.js -->
    <script src="{% static 'SPTGUI/dist/js/d3.v3.min.js' %}"></script>
    
  </head>
  
  <body ng-app="app">
    {% csrf_token %}
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SpasMod</a>
        </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#code">Code</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    
      <h1> SpasMod: kinetic modeling.</h1>
      <p>
	Current page: {{url_basename}}.
      </p>
      
      <tabset>
	<tab heading="Data">
	  Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea
	  graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id,
	  eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum
	  nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr
	  corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri,
	  omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea
	  noluisse deterruisset sea.

	  <h2>Upload datasets</h2>
	  
	  {% verbatim %}	  
	  <div ng-controller="UploadController"
	       flow-init="{target: './upload/'}"
	       flow-files-submitted="$flow.upload()"
	       flow-upload-started="uploadStart($flow);"
	       flow-file-success="$file.msg = $message">
	    

	    <!-- Drag'n'drop box -->
	    <div class="alert alert-info" flow-drop>
	      <div flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}"
		   ng-style="style">
		
		Drag And Drop your file here
	      </div>
	    </div>
	    <input type="file" flow-btn/>

	    <h2>Uploaded datasets</h2>
	    
	    <div class="alert alert-warning" ng-if="successfullyUploaded==0">
	      No dataset has been uploaded yet.
	    </div>

	    <div ng-if="currentlyUploading">
	      <table class="table-striped">
		<tr>
		  <th class="col-md-2">id</th>
		  <th class="col-md-5">File name</th>
		  <th class="col-md-5">Comment</th>
		  <th class="col-md-5">Options</th>
		</tr>
		<tr ng-repeat="file in $flow.files">
		  <td class="col-md-2">{{$index+1}}</td>
		  <td class="col-md-5">{{file.name}}</td>
		  <td class="col-md-5">{{file.msg}}</td>
		  <td class="col-md-1">
		    <span class="glyphicon glyphicon-pencil"></span>
		    <span class="glyphicon glyphicon-remove"></span>
		  </td>		  
		</tr>
	      </table>
	    </div>

	    
	    <div ng-if="successfullyUploaded>0">
		<ul>
		  <li>Number of files: {{successfullyUploaded}}</li>
		</ul>

		<table class="table-striped">
		  <tr>
		    <th class="col-md-2">id</th>
		    <th class="col-md-5">File name</th>
		    <th class="col-md-5">Description</th>
		    <th class="col-md-2">Status</th>
		    <th class="col-md-5">Options</th>
		  </tr>
		  <tr ng-repeat="data in datasets">
		    <td class="col-md-2">{{$index+1}}</td>
		    <td class="col-md-5">{{data.name}}
		      (<a href="datasets/{{data.id}}/original/" title="View the uploaded file" data-placement="top" data-html="true" tooltip >uploaded</a>,
		      <a href="datasets/{{data.id}}/parsed/" title="View the file as interpreted by our system, in a standardized format" data-placement="top" data-html="true" tooltip >parsed</a>, <a href="datasets/{{data.id}}/report/" title="View the importation report" data-placement="top" data-html="true" tooltip >importation report</a>).
		    </td>
		    <td class="col-md-5">{{data.description}}</td>
		    <td class="col-md-2">{{data.preanalysis_status}}</td>
		    <td class="col-md-1">
		      <span ng-click="showDataset(data);" class="glyphicon glyphicon-eye-open"></span>
		      <span ng-click="editDataset(data);" class="glyphicon glyphicon-pencil"></span>
		      <span ng-click="deleteDataset(data);" class="glyphicon glyphicon-remove"></span>
		    </td>		  
		  </tr>
		</table>	      
	    </div>

	    <div ng-if="editingDataset">
	      <h3>Editing dataset: {{editedDataset.name}}</h3>
	      <form ng-submit="saveEdit(editedDataset)">
		<table>
		  <tr>
		    <td> Name: </td>
		    <td><input type="text" ng-model="editedDataset.name"></td>
		  </tr>
		  <tr>
		    <td> Description: </td>
		    <td><textarea ng-model="editedDataset.description"></textarea></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td>
		      <button class="btn btn-default" ng-click="cancelEdit(editedDataset)">Cancel</button>
		      <button type="submit" class="btn btn-default">Submit</button>
		    </td>
		  </tr>
		</table>
	      </form>
	    </div>

	    <div>
	      <div class="col-md-6">
		<h2> Information about a dataset </h2>
		<div ng-if="showingStatistics">
		  Selected dataset: {{shownStatistics.name}}

		  <table class="table table-responsive">
		    <tr>
		      <td>Number of traces</td>
		      <td>{{shownStatistics.pre_ntraces}}</td>
		    </tr>
		    <tr>
		      <td>Number of detections</td>
		      <td>{{shownStatistics.pre_npoints}}</td>
		    </tr>
		  </table>
		</div>
		
		<div ng-if="!showingStatistics"
		     class="alert alert-warning" role="alert">
		  Click on the <span class="glyphicon glyphicon-eye-open"></span> label to display information and statistics about the dataset.
		</div>
	      </div>

	      <div class="col-md-6">
		<h2> Global statistics </h2>
		<div ng-if="statistics.status=='ok';">
		  <table class="table table-responsive">
		    <tr>
		      <td>Number of traces</td>
		      <td>{{statistics.ntraces}}</td>
		    </tr>
		    <tr>
		      <td>Number of detections</td>
		      <td>{{statistics.npoints}}</td>
		    </tr>
		  </table>		  
		</div>
		
	      </div>
	    </div>
	    
	    
	  </div><!-- End of the UploadController controller -->
	</tab>

	
	<tab heading="Kinetic modeling">
	  <div ng-controller="ModelingController"><!-- Another controller -->
	    In this tab, you can perform a kinetic modeling of your data

	    <div ng-if="statistics.status=='ok';">
	      <ul>
		<li>Enter parameters</li>
		<li>Bin size</li>
		<li>Model button</li>
		<li>Type of modeling: two or 3 states</li>
		<li>Field that wait for the job to be completed</li>
		<li>D3.js view</li>
		<li>save in SVG button</li>
	      </ul>

	      <h2> Dataset selection </h2>

	      Here show the uploaded datasets and offer the opportunity to include/exclude them from the analysis. Make sure that only valid datasets are visible.
	      <table class="table-striped">
		<tr>
		  <td class="col-md-2"> Id </td>
		  <td class="col-md-5"> File name </td>
		  <td class="col-md-5"> Description </td>
		  <td class="col-md-2"> Include </td>
		</tr>
		<tr ng-repeat="data in datasets">
		  <td class="col-md-2">{{$index+1}}</td>
		  <td class="col-md-5">{{data.name}}</td>
		  <td class="col-md-5">{{data.description}}</td>
		  <td class="col-md-2"> Y/N </td>
		</tr>
	      </table>

	      <h2> Modeling parameters </h2>
	      <form ng-submit="runAnalysis(modelingParameters);">
		<table>
		  <tr>
		    <td> Bin size: </td>
		    <td><input type="text" ng-model="modelingParameters.bin_size"></td>
		  </tr>
		  <tr>
		    <td> Random: </td>
		    <td><input ng-model="modelingParameters.random"></input></td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td>
		      <button type="submit" class="btn btn-default">Run the analysis</button>
		    </td>
		  </tr>
		</table>
	      </form>

	      <h2> Results of the simulation </h2>
	      <div ng-if="analysisState=='notrun'" class="alert alert-warning" role="alert">
		No analysis has been run yet. (in the future, should display the last analysis performed, and a history of the analysis).
	      </div>
	      <div ng-if="analysisState=='running'">
		Running, please wait...
	      </div>
	      <div ng-if="analysisState=='done'">
		<jump-length-histogram data="jlhist"></jump-length-histogram>
	      </div>
	    </div>

	    
	    <div ng-if="statistics.status!='ok';"
		 class="alert alert-warning" role="alert">No data has been uploaded yet. Upload one! (div unbound)</div>
	  </div>
	</tab><!-- End of the ModelingController controller -->
	
	<tab heading="Download">
	  In this tab, you can download the results of your analysis
	  <div>
	    <div class="alert alert-warning" role="alert">No data has been uploaded yet. Upload one!</div>
	  </div>
	</tab>
      </tabset>
      {% endverbatim %}
    </div>    
  </body>
</html>
