<h2 class="blog-post-title">Frequently asked questions</h2>
<h3>What is Spot-On?</h3>
<h3>What is not Spot-On?</h3>
<h3>What type of input Spot-On accepts?</h3>
<h3>How fast is Spot-On?</h3>
<h3>What tracking software to use?</h3>
<h3>Are you just fitting a two-exponential model?</h3>
<h3>I'm afraid of uploading my dataset to your server. Is there an offline version?</h3>
<h3>Is there a command-line version?</h3>
<h3>What technology uses Spot-On?</h3>
<h3>Is there a Matlab® version?</h3>
<h3>What license uses Spot-On?</h3>
<h3>I have a question</h3>
<h3>How do you handle privacy?</h3>
- No account required
- Erase datasets
<h3>How to cite Spot-On?</h3>
<h3>How to contact you?</h3>
<h3>I found a bug, how can I report it?</h3>  
