    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
	  {% include 'SPTGUI/navbar.html' %}
          <!-- <div class="container"> -->
          <!--   <div class="navbar-header"> -->
          <!--     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> -->
          <!--       <span class="sr-only">Toggle navigation</span> -->
          <!--       <span class="icon-bar"></span> -->
          <!--       <span class="icon-bar"></span> -->
          <!--       <span class="icon-bar"></span> -->
          <!--     </button> -->
          <!--     <a class="navbar-brand" href="#"> -->
	  <!-- 	<img style="max-width:128px; margin-top: -10px;" -->
	  <!-- 	     src="/static/SPTGUI/img/spoton_logo_small_inv.png" -->
	  <!-- 	     alt="Spot-On logo"> -->
	  <!--     </a> -->
          <!--   </div> -->
          <!--   <div id="navbar" class="navbar-collapse collapse"> -->
          <!--     <ul class="nav navbar-nav"> -->
          <!--       <li {% if active == 'home' %} class="active" {% endif %}> -->
	  <!-- 	  <a href="{% url 'SPTGUI:index' %}">Home</a> -->
	  <!-- 	</li> -->
	  <!-- 	<li><a class="startspoton" href="{% url 'SPTGUI:index' %}#start"> -->
	  <!-- 	    <span class="glyphicon glyphicon-transfer"></span>&nbsp;Start spotting!</a> -->
	  <!-- 	</li> -->
          <!--       <li {% if active == 'about' %} class="active" {% endif %}> -->
	  <!-- 	  <a href="#about">About</a></li> -->
          <!--       <li {% if active == 'docs' %} class="active" {% endif %}> -->
	  <!-- 	  <a href="{% url 'SPTGUI:staticpage' 'docs' %}">Documentation</a> -->
	  <!-- 	</li> -->
	  <!-- 	<li><a href="{% url 'SPTGUI:staticpage' 'docs' %}#methods">Methods</a></li> -->
          <!--       <li><a href="{% url 'SPTGUI:staticpage' 'docs' %}#code">Code</a></li> -->
          <!--       <li {% if active == 'contact' %} class="active" {% endif %}> -->
	  <!-- 	  <a href="{% url 'SPTGUI:staticpage' 'contact' %}">Contact</a> -->
	  <!-- 	</li> -->
          <!--     </ul> -->
          <!--   </div> -->
          <!-- </div> -->
        </nav>

      </div>
    </div>
