<h2 class="blog-post-title">Quickstart/tutorial</h2>
<h3>The problem</h3>
Explain what we want

<h4>Motion blur</h4>
<div ng-init="jld={D1: 1.0, D2: 5.0, P: 0.5, S: 10, dt: 10}">
  <div class="text-center">
    <jump-length-distribution data="jld"></jump-length-distribution>
  </div>
  <br/>
  <table>
    <tr>
      <td class="col-sm-2">D<sub>1</sub> (&mu;m²/s)</td>
      <td class="col-sm-10"><rzslider
			       rz-slider-model="jld.D1"
			       rz-slider-options="{floor: 0, ceil:10, step: 0.1, precision: 1}">
      </rzslider></td>
    </tr>
    <tr>
      <td class="col-sm-2">D<sub>2</sub> (&mu;m²/s)</td>
      <td class="col-sm-10"><rzslider
			       rz-slider-model="jld.D2"
			       rz-slider-options="{floor: 0, ceil:10, step: 0.1, precision: 1}">
      </rzslider></td>
    </tr>
    <tr>
      <td class="col-sm-2">P</td>
      <td class="col-sm-10"><rzslider
			       rz-slider-model="jld.P"
			       rz-slider-options="{floor: 0, ceil:1, step: 0.01, precision: 2}">
      </rzslider></td>
    </tr>
	  <tr>
	    <td class="col-sm-2">&sigma; (nm)</td>
	    <td class="col-sm-10"><rzslider
				     rz-slider-model="jld.S"
				     rz-slider-options="{floor: 0, ceil:100, step: 1}">
	    </rzslider></td>
	  </tr>
    <tr>
      <td class="col-sm-2">&Delta;t (ms)</td>
      <td class="col-sm-10"><rzslider
			       rz-slider-model="jld.dt"
			       rz-slider-options="{floor: 1, ceil:100, step: 1}">
      </rzslider></td>
    </tr>
  </table>
</div>

+ Show histogram of displacements

<h4>Particles move out of focus</h4>

+ Show fraction lost (theoretical)

<h4>Ambiguous tracking</h4>

- Explain the main "problems of SPT"
- Tell how we suggest to handle them

<div class="alert alert-info">
  Refer to a section "imaging advices". That gives some tips about how to perform SPT.
</div>

<h3>Import</h3>
<h3>Quality check</h3>
<h3>Analysis</h3>
<h3>Export</h3>
<h3>Extra features</h3>
